# Godot specific ignores
.godot/
**/android/
**/.godot/

# Android / Gradle build outputs
*.apk
*.apk.idsig
**/build/
.gradle/
**/.gradle/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Temporary / OS files
.DS_Store
Thumbs.db

